<!DOCTYPE html>
<html>
  <head>
    <title>FirstRailsApp546</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Contact us", contact_path %></li>
      <li><%= link_to "About us", about_us_path %></li>
    </ul>
    <form action="/contact" method="get">
      <input type="text" name="turtle" placeholder="Who are you looking for?" value="<%= params[:turtle] %>">
      <input type="submit">
    </form>

    <%= yield %>
  </body>
</html>
